.cover {
  margin: 0 auto;
  max-width: 92.5%;
  
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    min-height: 320px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    min-height: 200px;
  }
}